{% extends 'base.html.twig' %}

{% block title %}Hello NotificationController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/notification/index.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="main-title">Hello {{ controller_name }}! ✅</h1>

    <p class="friendly-message">This friendly message is coming from:</p>
    <ul class="details-list">
        <li>Your controller at <code>D:/Projet Symfony/projetSymfony/src/Controller/NotificationController.php</code></li>
        <li>Your template at <code>D:/Projet Symfony/projetSymfony/templates/notification/index.html.twig</code></li>
    </ul>

    <div class="action-link">
        <a href="{{ path('notification_new') }}" class="btn btn-primary">Create New</a>
    </div>
</div>
{% endblock %}
