{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome to our Application!</h1>
    <p>This is the homepage. Use the navigation menu to explore the site.</p>
{% endblock %}
